assignment-3/Plotter
assignment-3/Assignment3_EstimatingPi/coordinates_correct1.dat
assignment-3/Assignment3_EstimatingPi/coordinates_correct2.dat
assignment-3/Assignment3_EstimatingPi/coordinates_correct3.dat
assignment-3/Assignment3_EstimatingPi/coordinates_correct4.dat
assignment-3/Assignment3_EstimatingPi/coordinates_correct5.dat
assignment-3/Assignment3_EstimatingPi/coordinates_direct1.dat
assignment-3/Assignment3_EstimatingPi/coordinates_direct1x10.dat
assignment-3/Assignment3_EstimatingPi/coordinates_direct2.dat
assignment-3/Assignment3_EstimatingPi/coordinates_direct3.dat
assignment-3/Assignment3_EstimatingPi/coordinates_direct4.dat
assignment-3/Assignment3_EstimatingPi/coordinates_direct5.dat
assignment-3/Assignment3_EstimatingPi/coordinates_incorrect1.dat
assignment-3/Assignment3_EstimatingPi/coordinates_incorrect2.dat
assignment-3/Assignment3_EstimatingPi/coordinates_incorrect3.dat
assignment-3/Assignment3_EstimatingPi/coordinates_incorrect4.dat
assignment-3/Assignment3_EstimatingPi/coordinates_incorrect5.dat
assignment-3/Assignment3_IsingModel/Data
assignment-3/Assignment3_IsingModel/.ipynb_checkpoints/PlotCurves-checkpoint.ipynb


